@charset "UTF-8";


html,
body {
    min-height: 100vh;
    margin: 0;

    background: linear-gradient(135deg,
            #e421da,
            #ceb0ca,
            #c0c0c0);
}

section#inicio h1 {
    color: rgb(20, 20, 20);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    width: 90%;
    box-shadow: 0 2px;
}

nav {
    color: rgb(230, 20, 202);
    padding: 5px 8px;
    text-align: right;
    display: block;
    float: right;
    border-radius: 3px;
    font-size: 5px;
    margin-right: auto;
    font-family: 'Times New Roman', Times, serif
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav#menu a {
    display: inline-block;
    text-decoration: none;
    color: #141314;
    transition: 1s;
    font-size: 17px;
    padding: 8px 10px;
}

nav#menu a:hover {
    color: #d406a8;
    border-radius: 6px;
    background-color: #19191a;
}

.bloco {
    width: 300px;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
}

.bloco img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

section#sobre {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: auto;
    height: auto;
    width: 80%;
    background: linear-gradient(135deg, rgb(241, 154, 230), rgb(247, 128, 231), rgb(204, 192, 204));
}

section#projetos {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: auto;
    height: 0px;
    width: 300px;
    object-fit: cover;
    object-position: center;
    background: linear-gradient(135deg, rgb(241, 154, 230), rgb(247, 128, 231), rgb(204, 192, 204));
}

section#beneficios {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 80%;
    background: linear-gradient(135deg, rgb(241, 154, 230), rgb(247, 128, 231), rgb(204, 192, 204));
}

section p {
    font-size: 20px;
    line-height: 1.5;
    color: rgb(5, 5, 5);
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

main img#logo {
    width: 100%;
    border-radius: 8px;
    position: relative;
}

footer figure {
    width: 100%;
    height: 100%;
    grid-area: 1/1;
    border-radius: 8px;
    position: relative;
}